/* PAGE BACKGROUND */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #2ecc71; /* GREEN BACKGROUND */
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  padding: 20px;
  gap: 30px;
}

/* LEFT CAMERA SECTION */
.camera-section {
  flex: 2;
}

.camera-box {
  width: 100%;
  height: 1000px;
  background: #8e8e8e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  border-radius: 6px;
}

/* RIGHT SIDE PANEL */
.side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.panel-title {
  background: #8e8e8e;
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.panel-box {
  background: #8e8e8e;
  padding: 15px;
  border-radius: 6px;
  color: white;
  text-align: center;
}

.student-details p {
  margin: 2px 0;
}

.button-row {
  display: flex;
  gap: 10px;
}

.confirm-btn,
.retry-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.confirm-btn {
  background: #27ae60;
  color: white;
}

.retry-btn {
  background: #c0392b;
  color: white;
}

.student-input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.login-btn {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #34495e;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
